= form_for @message, url: user_messages_path(@user), html: { method: :post } do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg


  .row
    .col-md-4
      .row
        .photo-sizing-message
          = link_to image_tag(@user.image.url, class: "userpic"), show_user_profile_path(@user)
      .row.top-buffer
        %b Location:
        = @user.profile.city
      .row.top-buffer
        %b Age:
        = @user.profile.age
    .col-md-8
      .form-group
        = f.label :title
        = f.text_field :title, :class => "form-control"
      .form-group
        = f.label :body
        = f.text_area :body, :class => "form-control", :rows => 9
      .actions
        = f.submit 'Send', :class => "btn btn-default"
