%h1 Listing messages

%table
  %tr
    -if params[:type] == "inbox"
      %th From:
    -if params[:type] == "sent"
      %th To:
    %th Title
    %th Body
    %th Read
    %th
  = params[:type]
  - @messages.each do |message|
    %tr
      -if params[:type] == "inbox"
        %td= message.sender.full_name
      -if params[:type] == "sent"
        %td= message.recipient.full_name
      %td= link_to message.title, message
      %td= message.body
      %td= message.read
      %td= link_to 'Delete', message, :method => :put

%br

/ = link_to 'New Message', new_message_path
