%h1 Messages

%ul.nav.nav-tabs
  %li.active
    = link_to params[:type].capitalize, mailbox_type_messages_path(params[:type])
  %li
    = link_to other_mailbox.capitalize, mailbox_type_messages_path(other_mailbox)

%table.table.table-hover
  %tr
    -if params[:type] == "inbox"
      %th From:
    -if params[:type] == "sent"
      %th To:
    %th Subject
    - if params[:type] == "inbox"
      %th Received at
    - if params[:type] == "sent"
      %th Sent at
    %th 

  - @messages.each do |message|
    %tr
      -if params[:type] == "inbox"
        %td= message.sender.full_name
      -if params[:type] == "sent"
        %td= message.recipient.full_name
      %td= link_to message.title, message
      %td= message.created_at
      %td= link_to 'Delete', message, :method => :put
