%p#notice= notice

%p
  %b Sender:
  = @message.sender.full_name
%p
  %b Recipient:
  = @message.recipient.full_name
%p
  %b Title:
  = @message.title
%p
  %b Body:
  = @message.body
%p
  %b Read:
  = @message.read

/ = link_to 'Edit', edit_message_path(@message)
/ \|
/ = link_to 'Back', messages_path
