= form_for @profile, url: update_current_user_profile_path, html: { method: :put } do |f|
  - if @profile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@profile.errors.count, "error")} prohibited this profile from being saved:"
      %ul
        - @profile.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :bio
    = f.text_area :bio, :class => "form-control", :rows => 9
  .form-group
    = f.label :age
    = f.number_field :age, :class => "form-control"
  .form-group
    = f.label :gender
    = f.select :gender, options_for_select(User::GENDER), :class => "form-control"
  .form-group
    = f.label :city
    = f.text_field :city, :class => "form-control"
  .form-group
    = f.label :current_occupation
    = f.text_field :current_occupation, :class => "form-control"
  .form-group
    = f.label :programming_languages
    = f.text_field :programming_languages, :class => "form-control"
  .form-group
    = f.label :native_human_language
    = f.text_field :native_human_language, :class => "form-control"
  .form-group
    = f.label :other_human_languages
    = f.text_field :other_human_languages, :class => "form-control"
  .form-group
    = f.label :interests
    = f.text_area :interests, :class => "form-control", :rows => 3
  .form-group
    = f.label :relationship_status
    = f.select :relationship_status, options_for_select(Profile::RELATIONSHIP_STATUS), :class => "form-control"
  .form-group
    = f.label :children
    = f.number_field :children, :class => "form-control", :value => 0
  .form-group
    = f.label :image, "Your photo"
    = f.file_field :image
  .actions
    = f.submit 'Save'
