%p#notice= notice

- if @profile.user == current_user
  = link_to "View Counts", current_user_profile_views_path

= image_tag(@profile.user.image.url)
%p
  %b User:
  = @profile.user.full_name
%p
  %b Bio:
  = @profile.bio
%p
  %b Age:
  = @profile.age
%p
  %b Gender:
  = @profile.gender
%p
  %b Interested in:
  = @profile.interested_in
%p
  %b City:
  = @profile.city
%p
  %b Current occupation:
  = @profile.current_occupation
%p
  %b Programming languages:
  = @profile.programming_languages
%p
  %b Native human language:
  = @profile.native_human_language
%p
  %b Other human languages:
  = @profile.other_human_languages
%p
  %b Interests:
  = @profile.interests
%p
  %b Relationship status:
  = @profile.relationship_status
%p
  %b Children:
  = @profile.children

= link_to 'Edit', edit_current_user_profile_path
= link_to 'Send a message', new_user_message_path(@user)
