.row
  .col-md-8
    =image_tag 'homepage_1.jpg', :id => "homepage_pic"

  .col-md-4
    .row
      =image_tag 'techdate_welcome.png'
    .row
      %p 
        At Techdate, we believe everyone should find the 
        %em
          'key to their value.'
        So what are you waiting for? `git checkout Techdate` now

    = form_for(resource, as: resource_name, url: registration_path(resource_name), role: "form") do |f|
      = devise_error_messages!

      / Page one
      .well
        #page_1
          %h4 I want to see...
          = f.fields_for :profile_attributes do |p|
            .form-group
              = p.label(:interested_in_gender, "Super hacker")
              = p.select :interested_in_gender, options_for_select([["men", "male"], ["women", "female"]],:selected => "female"),  :class => "form-control"
            .form-group 
              = p.label(:interested_in_age_start, "who are older than")
              = p.number_field :interested_in_age_start, :min=>18, :max=>100, :class => "form-control", :value => 21
            .form-group
              = p.label(:interested_in_age_end, "but younger than")
              = p.number_field :interested_in_age_end, :min=>18, :max=>100, :class => "form-control", :value => 35
          %button#page_1_button.btn.btn-default Continue

        / Page two

        %div#page_2{style: "display: none"}
          %h4 Sign up to view profiles
          = f.fields_for :profile_attributes do |p|
            .form-group
              = p.label(:gender, "I am a ")
              = p.select :gender, options_for_select(User::GENDER), :selected => "male", :class => "form-control"
            .form-group
              = p.label(:age, "aged")
              = p.number_field :age, :min=>18, :max=>100, :class => "form-control", :value => 25
          .form-group
            = f.label :first_name
            =f.text_field :first_name, :class => "form-control", autofocus: true
          .form-group
            = f.label :last_name
            = f.text_field :last_name, :class => "form-control"
          .form-group
            = f.label :email
            = f.email_field :email, :class => "form-control"
          .form-group
            = f.label :password
            = f.password_field :password, :class => "form-control", autocomplete: "off"
          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, :class => "form-control", autocomplete: "off"
          .form-group
            = f.label :image
            = f.file_field :image, autocomplete: "off"
          = f.submit "Sign up", :class => "btn btn-default"

        %span.help-block
          = link_to "Already a member? Sign in here", new_user_session_path
