.navbar.navbar-default.navbar-static-top
  .container
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", type: "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: root_path} Techdate
    -if user_signed_in?
      .navbar-collapse.collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Search", root_path(search: true) , :id => "search_form_link"
          %li= link_to "My profile", show_current_user_profile_path
          %li= link_to "Saved profiles", saved_profiles_path 
          %li= link_to "Views", current_user_profile_views_path, id:"navbar-views-link"
          %li= link_to "Messages", mailbox_type_messages_path("inbox"), id: "navbar-messages-link"
