!!!
%html
  %head
    %title TechDate
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag 'techdate_favicon.ico'
  %body
    .navbar.navbar-default.navbar-static-top
      .container
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", type: "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: root_path} Techdate
        -if user_signed_in?
          .navbar-collapse.collapse.navbar-responsive-collapse
            %ul.nav.navbar-nav
              %li= link_to "Search", root_path(search: true) , :id => "search_form_link"
              %li= link_to "My profile", show_user_profile_path(current_user) 
              %li= link_to "Saved profiles" 
              %li= link_to "Views"
              %li= link_to "Messages ", mailbox_type_messages_path("inbox"), id: "navbar-messages-link"

    - if user_signed_in?
      You are logged in as #{current_user.email}
      \|
      = link_to 'Log out', destroy_user_session_path, method: :delete
    - else
      = link_to 'Sign in', new_user_session_path
      = link_to 'Sign up', new_user_registration_path

    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"

    = render 'layouts/search'

    = yield